/*
 * https://css-tricks.com/almanac/properties/f/float/
 */
.clearfix:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.learn {
    float: left;
    margin: 25px;
    opacity: 0.8;
}

.read {
    border-radius: 25px;
    width: 400px;
    height: 350px;
    text-align: center;
    background-color: #F0F0F0;
    background-image: url("https://openstax.org/dist/images/logo.svg");
    background-repeat: no-repeat;
    background-position: bottom 90px center;
    position: relative; /* needed for donation link */
}

.read>h2 {
    padding: 15px;
    color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #77a352;
}

.watch {
    border-radius: 25px;
    width: 400px;
    height: 350px;
    background-color: #F0F0F0;
    text-align: center;
    position: relative; /* needed for donation link */
}

.watch>h2 {
    padding: 15px;
    color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #eccd42;
}

.watch>iframe {
    height: 200px;
    width: 400px;
    border: none;
}

.test {
    border-radius: 25px;
    width: 400px;
    height: 350px;
    text-align: center;
    background-color: #F0F0F0;
    background-image:
        url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Light_Bulb_or_Idea_Flat_Icon_Vector.svg/256px-Light_Bulb_or_Idea_Flat_Icon_Vector.svg.png");
    background-repeat: no-repeat;
    background-position: bottom 30px center;
    background-size: 40%;
}

.test>h2 {
    padding: 15px;
    color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #e46e4e;
}

.game {
    border-radius: 25px;
    width: 400px;
    height: 350px;
    text-align: left;
    background-color: #F0F0F0;
}

.game>h2 {
    padding: 15px;
    color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #53565e;
    text-align: center;
}

.game>ul>li {
    font-weight: normal;
}

.donate {
    font-size: 75%;
    color: grey;
    position: absolute;
    bottom: 15px;
    left: 15px;
    text-align: left;
}