.splash>p>a>img {
    height: 275px;
    overflow: hidden;
}

.home {
    font-size: 1.1em;
    margin-bottom: 50px;
}

.learn-how {
    width: 60%;
}

.chapters {
    text-align: center;
    width: 80%;
}

.chapter {
    height: 75px;
    display: block;
}

.box a {
    color: #53565e;
    text-decoration: none;
}

.box li:hover>a {
    color: white;
}

.box li:hover:nth-child(1n) {
    background-color: #77a352;
}

.box li:hover:nth-child(2n) {
    background-color: #e46e4e;
}

.box li:hover:nth-child(3n) {
    background-color: #eccd42;
}

.box ul {
    padding: 0;
}

.box li {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    background-color: #F0F0F0;
    border: 0.5px solid #53565e;
    border-radius: 25px;
    width: 150px;
    height: 150px;
    padding: 15px;
    margin: 15px;
    border: none;
}

.box li:hover {
    border: none;
}

.box-icon {
    padding: 25px;
    font-size: 40px;
    color: #53565e;
}

.box li:hover>a>span>i {
    color: white;
}

/*
 *
 * https://jqueryui.com/accordion/#collapsible
 *
 */
.ui-icon {
    /* https://stackoverflow.com/a/41034918 */
    background-image:
        url(http://download.jqueryui.com/themeroller/images/ui-icons_black_256x240.png)
        !important;
}

.ui-accordion .ui-accordion-header {
    background-color: white;
    color: #77a352;
    border: none;
    font-weight: bold;
}

.ui-accordion .ui-accordion-content {
    background-color: white;
    text-align: left;
    font-size: 0.9em;
    border: none;
}

.ui-accordion-content>li {
    list-style-type: circle;
    padding: 10px;
}

.ui-accordion-content>li>a:hover {
    color: #e46e4e;
}

#accordion>ul>li {
    /* if jquery ui js/css not enabled */
    text-align: left;
    padding: 10px;
    font-size: 0.8em;
}

#accordion>ul>li>a:hover {
    /* if jquery ui js/css not enabled */
    color: #e46e4e;
}